{% extends "base.html" %} {% block content %} {% if request.user.is_authenticated%}
<script>
    const date = new Date();
    const d = date.toString().split(" ");
    const month = d[1];
    const day = d[2];
    const year = d[3];
    async function sendMessage() {
        let fd = new FormData();
        let token = "{{csrf_token}}";
        fd.append("textmessage", messagefield.value);
        fd.append("csrfmiddlewaretoken", token);
        try {
            messageContainer.innerHTML += `
            <div id="deleteMessage"
            class="message-wrapper {% if request.user.first_name == message.author.first_name %} start {%else%} end {%endif%}">
            <div class="{% if request.user.first_name == message.author.first_name %} message-left {%else%} message-right {%endif%}">
                <small><span class="color-gray">{{request.user.first_name}} ${month} ${day}, ${year}</span></small>
                ${messagefield.value}
            </div>
        </div>
        `;

            let response = await fetch("/chat/", {
                method: "POST",
                body: fd,
            });
            let json = await response.json();
            let obj = JSON.parse(json);
            deleteMessage.remove();
            messageContainer.innerHTML += `
        <div
            class="message-wrapper start">
            <div class="message-left">
                <small><span class="color-gray">{{request.user.first_name}} ${month} ${day}, ${year}</span></small>
                ${messagefield.value}
            </div>
        </div>
        `;
            messagefield.value = "";
        } catch (e) {
            console.error("An error occured", e);
        }
    }
</script>

<div class="wrapper">
    <div class="messagecontainer" id="messageContainer">
        {% for message in messages %}
        <div
            class="message-wrapper {% if request.user.first_name == message.author.first_name %} start {%else%} end {%endif%}">
            <div
                class="{% if request.user.first_name == message.author.first_name %} message-left {%else%} message-right {%endif%}">
                <small><span class="color-gray">{{ message.author.first_name}} {{ message.created_at}}</span></small>
                {{message.text}}
            </div>
        </div>
        {% endfor %}
    </div>

    <form class="input-chat" onsubmit="sendMessage(); return false;" method="post">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="textmessage" type="text" id="messagefield" />
            <label class="mdl-textfield__label" for="messagefield">Text...</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--accent">Send</button>
    </form>
    {% else %}
    <h1 class="color-red">Not logged in</h1>
    <p>
        You are actually not logged in. Please log in to see your chat.<br />
        Click here to <a href="/login/">log in</a>.
    </p>
</div>
{% endif %} {% endblock %}
