{% extends "base.html" %} {% block content %} {% if request.user.is_authenticated%}
<div id="messageContainer">
    {% for message in messages %}
    <div class="message">
        <small><span class="color-gray">{{ message.author.first_name}} {{ message.created_at}}</span></small>
        {{message.text}}
    </div>
    {% endfor %}
</div>
<script>
    async function sendMessage() {
        let fd = new FormData();
        let token = "{{csrf_token}}";
        fd.append("textmessage", messagefield.value);
        fd.append("csrfmiddlewaretoken", token);
        try {
            messageContainer.innerHTML += `
            <div class="message" id="deleteMessage">
                <small><span class="color-gray">{{request.user.first_name}}</span></small>
                <i class="color-gray">${messagefield.value}</i>
            </div>
            `;

            let response = await fetch("/chat/", {
                method: "POST",
                body: fd,
            });
            let json = await response.json();
            let obj = JSON.parse(json);
            console.log(obj);
            deleteMessage.remove();
            messageContainer.innerHTML += `
            <div class="message">
                <small><span class="color-gray">{{request.user.first_name}} ${obj.fields.created_at}</span></small>
                ${messagefield.value}
            </div>
            `;
            messagefield.value = "";
        } catch (e) {
            console.error("An error occured", e);
        }
    }
</script>

<form onsubmit="sendMessage(); return false;" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="textmessage" type="text" id="messagefield" />
        <label class="mdl-textfield__label" for="messagefield">Text...</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--accent">Send</button>
</form>
{% else %}
<h1 class="color-red">Not logged in</h1>
<p>
    You are actually not logged in. Please log in to see your chat.<br />
    Click here to <a href="/login/">log in</a>.
</p>
{% endif %} {% endblock %}
